* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    padding: 5em 10em;
}

.container {
    background-color: #FEFAE7;
    padding: 3em 3em;
    box-shadow: 10px 10px 10px grey;
    border-radius: 15px;
    position: relative;
}

.redpin{
    position: absolute;
    top: -2.5rem;
    left: 48%;
}

.container-firstpart {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1em;

}

.container-firstpart img {
    height: 3em;
    padding: 5px;
    border: 3px solid #ff9400;
    border-radius: 50%;
}

.container-secondpart,
.container-thirdpart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 0 2em;
}

.container-secondpart-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.container-secondpart-left ul {
    list-style: none;
}
